.nav {
    background-color: LightGray;
    padding: 7px;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
}

.menu {       /* สำหรับสถานะ inactive */
    color: blue;
    text-decoration: none;
    padding: 2px 5px;    
}

.active_menu {      /* สำหรับสถานะ active */
    color: red;
    background-color: yellow;
    text-decoration: none;
    padding: 2px 5px;
}